# Excluir la carpeta del entorno virtual
venv/

# Archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Configuraciones específicas de VSCode
.vscode/

# Archivos de logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de entorno local
.env
